.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth-form label {
  font-weight: bold;
}
.auth-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.auth-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.auth-form button:hover {
  background-color: #0056b3;
}